.product-form {
    width: 100rem;
    max-width: 95%;
    margin: auto;
    display: block;
}

.product-item {
    width: 40rem;
    max-width: 50%;
    box-shadow: 0 50px 100px rgb(240, 243, 90);
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #490606;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}